/* swagger.module.css */
.swaggerContainer {
    padding: 20px;
    max-width: 1200px; /* Adjust as needed */
    margin: auto;
    background-color: #f9f9f9; /* Light background for better readability */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.swagger-ui {
    font-family: 'Arial', sans-serif; /* Use a readable font */
}

.swagger-ui .topbar {
    background-color: #0070f3; /* Next.js blue */
    color: white; /* Text color */
}
